<app-info></app-info>

<meta name="description" content="分享世界的波澜壮阔">

<div class="nav">
  <span class="icon icon-box"></span>
  <span class="title">六七九</span>
</div>

<div class="container">
  <div class="bg-blur bg-blur-darker img-fit random-img-thumb"></div>
  <div class="main-container">
    <div class="title-box">
      <div (click)="current_mode='login'">登录</div>
      <div (click)="current_mode='register'">注册</div>
    </div>
    <div class="strip"></div>
    <div class="active-strip" [ngClass]="current_mode"></div>
    <div class="form-box login" [ngClass]="is_active('login')">
      <div class="item-box">
        <div class="item-name">用户名</div>
        <div class="back-box"></div>
        <input type="text" [(ngModel)]="username">
      </div>
      <div class="item-box">
        <div class="item-name">密码</div>
        <div class="back-box"></div>
        <input type="password" [(ngModel)]="password" (keydown)="check_enter($event)">
      </div>
      <div class="item-box">
        <div class="button" (click)="user_login()">登录</div>
      </div>
    </div>
    <div class="form-box register" [ngClass]="is_active('register')">
      <div class="item-box">
        <div class="item-name">用户名</div>
        <div class="back-box"></div>
        <input type="text" [(ngModel)]="username">
      </div>
      <div class="item-box">
        <div class="item-name">密码</div>
        <div class="back-box"></div>
        <input type="password" [(ngModel)]="password">
      </div>
      <div class="item-box">
        <div class="item-name">内测码</div>
        <div class="back-box"></div>
        <input type="text" [(ngModel)]="beta_code">
      </div>
      <div class="item-box">
        <div class="button" (click)="user_register()">注册</div>
      </div>
    </div>
  </div>
</div>
