@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-right:before {
  content: "\e91c";
}
.icon-refresh:before {
  content: "\e91b";
}
.icon-move:before {
  content: "\e91a";
}
.icon-tips:before {
  content: "\e900";
}
.icon-back:before {
  content: "\e901";
}
.icon-check:before {
  content: "\e902";
}
.icon-collapse:before {
  content: "\e903";
}
.icon-delete:before {
  content: "\e904";
}
.icon-down:before {
  content: "\e905";
}
.icon-file:before {
  content: "\e906";
}
.icon-folder:before {
  content: "\e907";
}
.icon-image:before {
  content: "\e908";
}
.icon-like:before {
  content: "\e909";
}
.icon-link:before {
  content: "\e90a";
}
.icon-modify:before {
  content: "\e90b";
}
.icon-video:before {
  content: "\e90c";
}
.icon-music:before {
  content: "\e90d";
}
.icon-play:before {
  content: "\e90e";
}
.icon-search:before {
  content: "\e90f";
}
.icon-select:before {
  content: "\e910";
}
.icon-setting:before {
  content: "\e911";
}
.icon-share:before {
  content: "\e912";
}
.icon-sort:before {
  content: "\e913";
}
.icon-toggleoff:before {
  content: "\e914";
}
.icon-toggleon:before {
  content: "\e915";
}
.icon-uncheck:before {
  content: "\e916";
}
.icon-unlike:before {
  content: "\e917";
}
.icon-unlogin:before {
  content: "\e918";
}
.icon-upload:before {
  content: "\e919";
}
