@import "../../styles";

div.info-container {
  &:extend(.animate);
  position: fixed;
  width: 100%;
  min-height: @info-container-height;
  left: 0;
  z-index: 3;
  div.text {
    font-size: 16px;
    color: white;
    //position: absolute;
    //left: 5%;
    padding-left: 5%;
    display: inline-block;
    line-height: 20px;
    vertical-align: middle;
    width: calc(~'90% - 10px');
    overflow: hidden;
    margin: 20px 0;
  }
  span.icon-collapse {
    &:extend(.ptr);
    font-size: 16px;
    color: @main-bg;
    position: absolute;
    right: 5%;
    top: 0;
    line-height: @info-container-height;
    vertical-align: middle;
    font-weight: bold;
  }
}

div.info-container.warn {
  background: @warn-bg;
}
div.info-container.success {
  background: @blue;
}

div.info-container.active {
  top: 0;
}

div.info-container.inactive {
  top: -100px;
}
