@import "../../styles";

@op-container-height: 150px;
@op-title-color: @dark-blue;
@op-title-font-size: 16px;

@radio-list-height: 20px;

@active-check-btn: @blue;
@inactive-check-btn: @gray;

div.operation-block {
  &:extend(.animate);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(~'100% - @{footer-height}');
  div.mask {
    &:extend(.animate, .ptr);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
  }
  div.container {
    &:extend(.animate);
    position: absolute;
    left: 0;
    width: 100%;
    height: @op-container-height;
    background: white;
    div.title-box {
      position: absolute;
      top: 16px;
      left: 5%;
      div.title {
        display: inline-flex;
        color: @op-title-color;
        font-size: @op-title-font-size;
        font-weight: bold;
        line-height: 22px;
        vertical-align: middle;
      }
      app-loading {
        &:extend(.animate);
        height: 22px;
        width: 22px;
        line-height: 22px;
        vertical-align: middle;
        display: inline-flex;
      }
    }
    div.radio-list {
      position: absolute;
      top: 54px;
      left: 12%;
      height: @radio-list-height;
      div.radio-btn {
        &:extend(.ptr);
        display: inline-block;
        margin-right: 32px;
        span.icon {
          &:extend(.animate);
          line-height: @radio-list-height;
          vertical-align: middle;
          font-size: 20px;
        }
        span.text {
          line-height: @radio-list-height;
          vertical-align: middle;
          font-size: 14px;
        }
      }
      div.radio-btn.active {
        span {
          color: @active-check-btn;
        }
      }
      div.radio-btn.inactive {
        span {
          color: @inactive-check-btn;
        }
      }
    }
    input {
      position: absolute;
      top: 90px;
      left: 12%;
      height: 30px;
      width: calc(~'76% - @{round-btn-width} - 10px');
      border-radius: 15px;
      border: 1px solid @inactive-check-btn;
      padding: 0 15px;
      color: @inactive-check-btn;
      &:hover, &:focus {
        border: 1px solid @active-check-btn;
      }
    }
    input[type='file'] {
      filter: opacity(0);
    }
    div.round-btn {
      position: absolute;
      top: 90px;
      right: 12%;
    }
  }
  div.container.active {
    bottom: 0;
  }
  div.container.inactive {
    bottom: -@op-container-height;
  }
}

div.operation-block.active {
  filter: opacity(1);
  visibility: visible;
}
div.operation-block.inactive {
  filter: opacity(0);
  visibility: hidden;
}
