* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  font-family: "Times New Roman", serif;
}
body {
  background: #eaeaea;
}
path {
  fill: #007FEB;
}
.ptr,
.round-btn,
div.res div.tab,
div.res div.tab.selecting div.tab-btn {
  cursor: pointer;
}
.light-shadow,
div.res div.tab div.resource div.sort-container,
div.res div.tab.selecting div.operation-container {
  box-shadow: 1px 3px 10px 0 #c0c0c0;
}
.strong-shadow {
  box-shadow: 1px 3px 10px 0 gray;
}
.img-fit {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: inherit;
}
.random-img-thumb {
  background-image: url("https://unsplash.6-79.cn/random/thumb");
}
.animate,
div.res div.tab div,
div.res div.tab.selecting,
div.res div.content,
div.res div.content.resource div.res-item div.res-type span {
  transition: 0.5s;
}
nav,
div.res {
  transition: 0.5s;
}
@media all and (orientation: portrait) {
  nav {
    width: 100%;
    height: 25vh;
  }
  nav.nav-hide {
    height: 0px;
  }
  div.res {
    width: 100%;
    height: calc(100% - 25vh - 56px);
    left: 0;
    top: 25vh;
  }
  div.res.nav-hide {
    top: 0px;
    height: calc(100% - 56px);
  }
  div.res.full {
    height: calc(100% - 25vh);
  }
  div.res.full.nav-hide {
    height: 100%;
  }
}
@media all and (orientation: landscape) {
  nav {
    width: 38.2vw;
    height: calc(100% - 56px);
  }
  nav.full {
    height: 100%;
  }
  div.res {
    width: calc(100% - 38.2vw);
    height: calc(100% - 56px);
    left: 38.2vw;
    top: 0;
  }
  div.res.full {
    height: 100%;
  }
}
footer {
  width: max-content;
  height: 56px;
  min-width: 100%;
}
.round-btn {
  width: 70px;
  height: 30px;
  border-radius: 15px;
  background: #2699FB;
  color: white;
  line-height: 30px;
  font-size: 14px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
}
.round-btn.disabled {
  background: #CCCCCC;
}
.round-btn.sub {
  background: #CCCCCC;
}
.round-btn.warn {
  background: #D04B4B;
}
.round-btn.long {
  width: 100px;
}
.bg-blur {
  position: absolute;
  top: -8px;
  left: -8px;
  width: calc(100% + 2*8px);
  height: calc(100% + 2*8px);
  filter: brightness(70%) blur(8px);
  background-color: black;
}
.bg-blur-darker {
  filter: brightness(40%) blur(8px);
}
div.res {
  position: fixed;
}
div.res div.tab {
  width: 100%;
  height: 46px;
  position: absolute;
  left: 0;
  top: 0;
}
div.res div.tab div {
  position: absolute;
  top: 0;
  width: 50%;
  text-align: center;
}
div.res div.tab div span {
  font-size: 16px;
  height: 46px;
  line-height: 46px;
  vertical-align: middle;
  display: block;
}
div.res div.tab div.resource {
  left: 0;
}
div.res div.tab div.description {
  right: 0;
}
div.res div.tab div.description div.modify-btn {
  width: 50%;
  float: left;
  position: relative;
}
div.res div.tab div.description div.cancel {
  background: #CCCCCC;
  color: white;
}
div.res div.tab div.description div.modify {
  background: #2699FB;
  color: #F1F9FF;
}
div.res div.tab div.description.inactive {
  right: -50%;
}
div.res div.tab div.resource span.icon-sort {
  position: absolute;
  left: 14px;
  height: 100%;
  font-size: 16px;
  width: 16px;
  z-index: 1;
}
div.res div.tab div.resource div.sort-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  z-index: 1;
  height: 0;
  transition: 0.2s;
  overflow: hidden;
}
div.res div.tab div.resource div.sort-container div.sort-item {
  position: relative;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #555555;
}
div.res div.tab div.resource div.sort-container div.sort-item:hover {
  background: #dddddd;
}
div.res div.tab div.resource div.search-container {
  top: 0;
  left: 14px;
  width: calc(100% - 2*14px);
  height: 100%;
}
div.res div.tab div.resource div.search-container span.icon-search,
div.res div.tab div.resource div.search-container span.icon-collapse {
  position: absolute;
  right: 0;
  font-size: 16px;
  width: 16px;
}
div.res div.tab div.resource div.search-container div.search-box {
  filter: opacity(0);
  visibility: hidden;
  position: absolute;
  left: 0;
  width: calc(100% - 16px);
  height: 100%;
  padding: 4px 14px 4px 0;
}
div.res div.tab div.resource div.search-container div.search-box input.search {
  width: 100%;
  height: 100%;
  border-radius: 19px;
  border: none;
  padding: 0 28.5px 0 19px;
  font-size: 16px;
}
div.res div.tab div.resource div.search-container div.search-box span.clear-keyword {
  position: absolute;
  top: 0;
  right: 23.5px;
  color: #007FEB;
  font-weight: bold;
  width: 20px;
}
div.res div.tab.sorting div.resource div.sort-container {
  height: 120px;
}
div.res div.tab.searching div.resource {
  position: absolute;
  width: 100%;
}
div.res div.tab.searching div.resource div.search-container div.search-box {
  filter: opacity(100%);
  visibility: visible;
}
div.res div.tab.searching div.description {
  width: 0;
}
div.res div.tab.searching div span.text {
  filter: opacity(0);
  visibility: hidden;
}
div.res div.tab.selecting {
  z-index: 2;
}
div.res div.tab.selecting div.operation-container.active {
  height: 80px;
}
div.res div.tab.selecting div.operation-container {
  position: absolute;
  top: 100%;
  right: 0;
  width: 25%;
  background: white;
  z-index: 1;
  height: 0;
  transition: 0.2s;
  overflow: hidden;
}
div.res div.tab.selecting div.operation-container div.op-item {
  position: relative;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #555555;
}
div.res div.tab.selecting div.operation-container div.op-item:hover {
  background: #dddddd;
}
div.res div.tab.selecting div.tab-btn {
  position: relative;
  float: left;
  width: 25%;
  height: 46px;
  line-height: 46px;
  vertical-align: middle;
}
div.res div.tab.selecting div.select-all {
  background: #2699FB;
  color: #F1F9FF;
}
div.res div.tab.selecting div.select-adverse {
  background: white;
  color: #555555;
}
div.res div.tab.selecting div.cancel {
  background: #CCCCCC;
  color: white;
}
div.res div.tab.selecting div.more-option {
  background: #2699FB;
  color: #F1F9FF;
}
div.res div.tab.selecting div.more-option span {
  display: inline-block;
}
div.res div.tab.selecting div.more-option span.icon-right {
  transition: 0.5s;
}
div.res div.tab.selecting div.more-option span.active {
  transform: rotate(90deg);
}
div.res div.tab.selecting div.more-option span.text {
  margin-left: 10px;
}
div.res div.tab.selecting.active {
  filter: opacity(1);
  visibility: visible;
}
div.res div.tab.selecting.inactive {
  filter: opacity(0);
  visibility: hidden;
}
div.res div.content {
  position: absolute;
  background: #f0f0f0;
  width: 100%;
  height: calc(100% - 46px);
  top: 46px;
  overflow-y: scroll;
}
div.res div.content.resource div.res-item {
  position: relative;
  margin: 0 3%;
  height: 78px;
  transition: 0.2s;
}
div.res div.content.resource div.res-item div.res-hover-mask {
  position: absolute;
  width: 106.38297872%;
  height: 78px;
  left: -3.19148936%;
}
div.res div.content.resource div.res-item div.res-image {
  position: absolute;
  left: 8px;
  top: 10px;
  width: 54px;
  height: 54px;
  border-radius: 2px;
  color: white;
  line-height: 54px;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
}
div.res div.content.resource div.res-item div.res-image img {
  width: 100%;
  height: 100%;
}
div.res div.content.resource div.res-item div.res-name {
  position: absolute;
  left: 70px;
  top: 12px;
  width: calc(100% - 120px);
  height: 30px;
  line-height: 16px;
  color: #2699FB;
  font-size: 14px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-weight: bold;
}
div.res div.content.resource div.res-item div.res-info {
  position: absolute;
  left: 70px;
  top: 49px;
  font-size: 12px;
  color: #CCCCCC;
}
div.res div.content.resource div.res-item div.res-type {
  position: absolute;
  right: 14px;
  top: 19px;
  font-size: 16px;
  color: #2699FB;
}
div.res div.content.resource div.res-item div.res-type span.icon-uncheck {
  color: #CCCCCC;
}
div.res div.content.resource div.res-item hr {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  border: none;
  border-top: 1px solid #eaeaea;
}
div.res div.content.resource div.res-item:hover div.res-hover-mask {
  background-color: #dddddd;
}
div.res div.content.resource span.icon {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: calc(50%);
  color: #2699FB;
  font-size: 80px;
}
div.res div.content.resource div.file-name {
  position: absolute;
  color: #555555;
  font-size: 14px;
  top: calc(60% - 10px);
  width: 100%;
  text-align: center;
  padding: 0 5%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
div.res div.content.resource div.file-size {
  position: absolute;
  width: 100%;
  color: #888888;
  font-size: 10px;
  top: calc(60% + 14px);
  text-align: center;
}
div.res div.content.resource div.btn-box {
  position: absolute;
  top: calc(60% + 50px);
  left: 0;
  width: 100%;
  text-align: center;
}
div.res div.content.resource div.suggestion-box {
  position: relative;
  width: 94%;
  margin: 0 3%;
  height: 88px;
}
div.res div.content.resource div.suggestion-box div.title {
  margin-top: 30px;
}
div.res div.content.resource div.suggestion-box div.input-box {
  position: absolute;
  top: 40px;
  text-align: center;
  left: calc(50% - 140px);
}
div.res div.content.resource div.suggestion-box div.input-box input {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  border: none;
  height: 30px;
  border-radius: 15px;
  padding: 0 15px;
  width: 200px;
}
div.res div.content.resource div.suggestion-box div.input-box div.round-btn {
  position: absolute;
  top: 0;
  left: 220px;
}
div.res div.content.description div.padding-div {
  overflow: scroll;
  padding: 0 30px;
  width: 100%;
  height: 100%;
  font-size: 14px;
  background: none;
}
div.res div.content.description div.padding-div div.round-btn {
  position: absolute;
  width: 140px;
  left: calc(50% - 70px);
  top: calc(50% - 30px / 2);
}
div.res div.content.description div.padding-div textarea {
  background: none;
  border: none;
  resize: none;
  outline: none;
  width: 100%;
  height: 100%;
  font-size: 14px;
}
@keyframes animate-shine {
  0% {
    opacity: 0;
    width: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    width: 100%;
  }
}
div.res div.content.operation.inactive {
  top: 100%;
}
div.res div.content.operation {
  transition: 0.2s;
  z-index: 1;
}
div.res div.content.operation div.operation-bar {
  position: absolute;
  width: 60%;
  height: 10px;
  left: calc(50% - 60% / 2);
  top: calc(50% - 10px / 2 - 10px);
  border-radius: 6px;
  background: white;
  border: 2px solid white;
  box-sizing: content-box;
}
div.res div.content.operation div.operation-bar div.operation-process {
  position: inherit;
  transition: 0.5s;
  height: 10px;
  border-radius: 5px;
}
div.res div.content.operation div.operation-bar div.operation-process:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: white;
  animation: animate-shine 2s ease-out infinite;
}
div.res div.content.operation div.operation-bar div.operation-process.delete {
  background: #D04B4B;
}
div.res div.content.operation div.operation-bar div.operation-process.move {
  background: #2699FB;
}
div.res div.content.operation div.operation-bar div.operation-process.upload {
  background: #77D05F;
}
div.res div.content.operation div.center-desc-above {
  position: absolute;
  width: 60%;
  left: calc(50% - 60% / 2);
  top: calc(50% - 10px / 2 - 30px);
}
div.res div.content.operation div.center-desc-above div.operation-text {
  font-size: 12px;
  font-weight: bold;
}
div.res div.content.operation div.center-desc-above div.operation-text.delete {
  color: #D04B4B;
}
div.res div.content.operation div.center-desc-above div.operation-text.move {
  color: #2699FB;
}
div.res div.content.operation div.center-desc-above div.operation-text.upload {
  color: #77D05F;
}
div.res div.content.operation div.center-desc-below {
  position: absolute;
  width: 60%;
  left: calc(50% - 60% / 2);
  top: calc(50% + 10px / 2);
}
div.res div.content.operation div.center-desc-below div.current-delete-res {
  direction: rtl;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}
div.res div.content.operation div.center-desc-below div.current-delete-res span {
  margin: 0 3px;
}
div.res.resource div.tab div.resource {
  background: #007FEB;
}
div.res.resource div.tab div.resource span {
  color: #F1F9FF;
}
div.res.resource div.tab div.description {
  background: white;
}
div.res.resource div.tab div.description span {
  color: #2699FB;
}
div.res.resource div.content.resource {
  left: 0;
}
div.res.resource div.content.description {
  left: 100%;
}
div.res.description div.tab div.description {
  background: #007FEB;
}
div.res.description div.tab div.description span {
  color: #F1F9FF;
}
div.res.description div.tab div.resource {
  background: white;
}
div.res.description div.tab div.resource span {
  color: #2699FB;
}
@media all and (orientation: portrait) {
  div.res.description div.content.resource {
    left: -100%;
  }
}
@media all and (orientation: landscape) {
  div.res.description div.content.resource {
    left: -38.2vw;
    width: 38.2vw;
  }
}
div.res.description div.content.description {
  padding: 20px 0;
  left: 0;
}
