@import "../../styles";

@res-tab-height: 46px;
@res-tab-font-size: 16px;

@res-origin-height: 36px;
@res-item-box-bg: #f0f0f0;
@res-item-height: 78px;
@res-item-image-size: 54px;

@res-name-color: @blue;
@res-item-name-font-size: 14px;
@res-item-info-font-size: 12px;
@res-item-padding: 70px;
@res-item-margin: 3%;
@res-file-icon-size: 80px;
@res-file-name-size: 14px;
@res-file-size-size: 10px;
@res-round-btn-width: 70px;

@res-search-container-padding: 14px;
@res-search-icon-size: 16px;
@res-search-box-padding: 4px;
@res-search-border-radius: (@res-tab-height - 2*@res-search-box-padding) / 2;

div.res {
  position: fixed;
  div.tab {
    &:extend(.ptr);
    width: 100%;
    height: @res-tab-height;
    position: relative;
    div {
      &:extend(.animate);
      //float: left;
      //display: inline-block;
      position: absolute;
      top: 0;
      width: 50%;
      text-align: center;
      span {
        font-size: @res-tab-font-size;
        height: @res-tab-height;
        line-height: @res-tab-height;
        vertical-align: middle;
        display: block;
      }
      //position: inherit;
    }
    div.resource {
      left: 0;
    }
    div.description {
      right: 0;
    }
    div.inactive {
      background: @inactive-tab-bg;
      span {
        color: @inactive-tab-text;
      }
    }
    div.active {
      background: @active-tab-bg;
      span {
        color: @active-tab-text;
      }
    }
    div.resource {
      div.search-container {
        position: absolute;
        top: 0;
        left: @res-search-container-padding;
        width: calc(~'100% - 2*@{res-search-container-padding}');
        height: 100%;
        span.icon-search {
          position: absolute;
          right: 0;
          font-size: @res-search-icon-size;
        }
        div.search-box {
          filter: opacity(0);
          position: absolute;
          left: 0;
          width: calc(~'100% - @{res-search-icon-size}');
          height: 100%;
          padding: @res-search-box-padding @res-search-container-padding @res-search-box-padding 0;
          input.search {
            width: 100%;
            height: 100%;
            border-radius: @res-search-border-radius;
            border: none;
            padding: 0 2*@res-search-border-radius 0 @res-search-border-radius;
            font-size: @res-tab-font-size;
          }
          span.icon-collapse {
            position: absolute;
            top: 0;
            right: @res-search-border-radius + @res-search-container-padding;
            color: @active-tab-bg;
            font-weight: bold;
          }
        }
      }
    }
  }
  div.tab.searching {
    div.resource {
      position: absolute;
      width: 100%;
      div.search-container div.search-box {
        filter: opacity(100%);
      }
    }
    div.description {
      width: 0;
      //&:extend(.animate);
    }
    div span.text {
      filter: opacity(0);
    }
  }
  div.content {
    background: @res-item-box-bg;
    width: 100%;
    height: calc(~'100% - @{res-tab-height}');
    overflow-y: scroll;
    div.res-item {
      position: relative;
      margin: 0 @res-item-margin;
      height: @res-item-height;
      div.res-image {
        position: absolute;
        left: 8px;
        top: 10px;
        width: @res-item-image-size;
        height: @res-item-image-size;
        border-radius: 2px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      div.res-name {
        position: absolute;
        left: @res-item-padding;
        top: 12px;
        width: calc(~'100% - 120px');
        height: 2*@res-item-name-font-size + 2px;
        line-height: @res-item-name-font-size + 2px;
        color: @res-name-color;
        font-size: @res-item-name-font-size;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }
      div.res-info {
        position: absolute;
        left: @res-item-padding;
        top: 49px;
        font-size: @res-item-info-font-size;
        color: @sub-text;
      }
      div.res-type {
        position: absolute;
        right: 14px;
        top: 19px;
        font-size: 16px;
        color: @active-btn-bg;

      }
      hr {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 1px;
        border: none;
        border-top: 1px solid @main-bg;
      }
    }
    span.icon {
      position: absolute;
      left: calc(~'50% - @{res-file-icon-size} / 2');
      bottom: calc(~'40% + @{res-file-name-size} + 20px');
      color: @active-btn-bg;
      font-size: @res-file-icon-size;
    }
    div.file-name {
      position: absolute;
      color: #555555;
      font-size: @res-file-name-size;
      top: 60%;
      width: 100%;
      text-align: center;
    }
    div.file-size {
      position: absolute;
      width: 100%;
      color: #888888;
      font-size: @res-file-size-size;
      top: calc(~'60% + @{res-file-name-size} + 10px');
      text-align: center;
    }
    div.round-btn {
      position: absolute;
      bottom: 0;
      width: @res-round-btn-width;
      left: calc(~'50% - @{res-round-btn-width} / 2');
      top: calc(~'60% + 60px');
    }
  }
}
