<nav [ngClass]="show_mode" (click)="switch_show_mode()" xmlns="http://www.w3.org/1999/html">
  <div class="bg-blur img-fit" ngClass="{{resource?.load_cover_class}}" [ngStyle]="{'background-image': resource?.url_cover_random}"></div>
  <div class="content">
    <div class="left-btn">
      <span class="icon-back" *ngIf="!resource?.is_home" (click)="go_parent($event)"></span>
    </div>
    <div class="right-avatar img-fit" *ngIf="userService.has_login" [ngStyle]="{'background-image': userService.user.url_avatar}" (click)="go_profile($event)"></div>
    <div class="right-avatar" *ngIf="!userService.has_login" (click)="go_login($event)"><span class="icon-unlogin"></span></div>
  </div>
  <div class="title">{{resource?.rname}}</div>
  <div class="foot">
    <span class="owner"><strong>{{nav_foot_owner}}</strong>创建于{{resource?.readable_time}}</span>
    <div class="avatar" *ngIf="!is_mine"><img src="{{resource?.owner.avatar || 'https://unsplash.6-79.cn/random/small'}}" (click)="go_owner_home($event)"></div>
    <div class="share">{{resource?.readable_status}}<span class="warn" (click)="show_insecure_info($event)">{{resource?.secure_word}}</span></div>
  </div>
</nav>
