<nav [ngClass]="{'showing': is_showing, 'nav-hide': hide_nav}" (click)="switch_show_mode()" xmlns="http://www.w3.org/1999/html">
  <div title="资源封面" class="bg-blur img-fit" ngClass="{{resource?.load_cover_class}}" [ngStyle]="{'background-image': resource?.url_cover_random}"></div>
  <div class="content">
    <div class="left-btn">
      <span title="返回父目录" class="icon-back" *ngIf="!resource?.is_home" (click)="go_parent($event)"></span>
    </div>
    <div title="菜单" class="right-avatar img-fit" *ngIf="userService.has_login" [ngStyle]="{'background-image': userService.user.url_avatar}" (click)="click_avatar($event)"></div>
    <div title="注册或登录" class="right-avatar" *ngIf="!userService.has_login" (click)="go_login($event)"><span class="icon-unlogin"></span></div>
    <a target="_blank" [href]="resource?.cover" (click)="$event.cancelBubble = true; $event.stopPropagation();"><div title="下载封面" class="dl-cover"><span class="icon-download"></span></div></a>
  </div>
  <div class="title" title="资源名称">{{resource?.rname}}</div>
  <div class="foot">
    <span class="owner"><strong>{{nav_foot_owner}}</strong>创建于{{resource?.readable_time}}</span>
    <div title="点击进入TA的主页" class="avatar" *ngIf="!is_mine"><img src="{{resource?.owner.avatar || 'https://unsplash.6-79.cn/random/small'}}" (click)="go_owner_home($event)"></div>
    <div class="share">{{resource?.readable_status}}<span class="warn" (click)="show_insecure_info($event)">{{resource?.secure_word}}</span></div>
  </div>
  <div class="menu-box" [ngClass]="{showing: show_menu}">
    <div class="triangle"></div>
    <div class="menu-list">
      <div class="menu-title menu-item"><strong>{{userService.user?.nickname || '暂无昵称'}}</strong></div>
      <div class="menu-item" (click)="menu_handler($event, 'mine')">我的浑天匣</div>
      <div class="menu-item" (click)="menu_handler($event, 'profile')">个人信息</div>
      <div class="menu-item" (click)="menu_handler($event, 'tips')">使用贴士</div>
      <div class="menu-item" (click)="menu_handler($event, 'updates')">更新日志</div>
      <div class="menu-item" (click)="menu_handler($event, 'code')">代码开源</div>
      <div class="menu-item warn" (click)="userService.exit()">退出登录</div>
    </div>
  </div>
</nav>
