<nav [ngClass]="{'nav-zip': zip_nav}" (click)="dismiss_menu()" xmlns="http://www.w3.org/1999/html">
  <div class="content" [ngClass]="{searching: search_mode}">
    <div class="nav-title-block">
      <div class="left-btn" *ngIf="!resource?.is_home">
        <span title="返回父目录" class="icon-back" (click)="go_parent($event)"></span>
      </div>
      <div class="title-stack">
        <div class="shell-kicker mono">{{resource?.is_home ? 'root workspace' : resource?.readable_status}}</div>
        <div class="title-shell">
          <div class="title-read-shell">
            <div class="title-marquee-viewport"
                 #titleViewport
                 [ngClass]="{overflowing: title_is_overflowing}"
                 [style.--title-shift.px]="title_shift">
              <div class="title-track" #titleTrack>
                <div class="title" #titleText title="资源名称">{{resource?.rname}}</div>
              </div>
            </div>
            <button class="title-edit-btn"
                    type="button"
                    *ngIf="is_mine"
                    title="重命名资源"
                    (click)="open_rename($event)">
              <span class="icon-pencil"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="nav-search-block" *ngIf="show_search_control">
      <div class="nav-search-shell"
           [ngClass]="{active: search_mode}"
           (click)="open_search($event)">
        <div class="search-prompt mono" *ngIf="!search_mode">
          <span class="icon-search"></span>
          <span>键入“/”以搜索</span>
        </div>
        <input #searchInput
               class="search-input mono"
               *ngIf="search_mode"
               type="text"
               [ngModel]="search_value"
               (ngModelChange)="update_search($event)"
               (blur)="on_search_blur()"
               (click)="$event.stopPropagation()">
        <button class="search-clear mono"
                type="button"
                *ngIf="search_mode && search_value"
                (click)="clear_search($event)">清空</button>
      </div>
    </div>
    <div title="菜单" class="right-avatar" *ngIf="userService.has_login" (click)="click_avatar($event)">
      <img [src]="userService.user.avatar_src" alt="当前用户头像">
    </div>
    <div title="注册或登录" class="right-avatar" *ngIf="!userService.has_login" (click)="go_login($event)"><span class="icon-unlogin"></span></div>
  </div>
  <div class="menu-box" [ngClass]="{showing: show_menu}">
    <div class="triangle"></div>
    <div class="menu-list" *ngIf="userService.has_login">
      <div class="menu-title menu-item"><strong>{{userService.user?.nickname || '暂无昵称'}}</strong></div>
      <div class="menu-item" (click)="menu_handler($event, 'mine')">我的浑天匣</div>
      <div class="menu-item" (click)="menu_handler($event, 'profile')">个人信息</div>
      <div class="menu-item" (click)="menu_handler($event, 'tips')">使用贴士</div>
      <div class="menu-item" (click)="menu_handler($event, 'updates')">更新日志</div>
      <div class="menu-item" (click)="menu_handler($event, 'code')">代码开源</div>
      <div class="menu-item warn" (click)="userService.exit()">退出登录</div>
    </div>
    <div class="menu-list" *ngIf="!userService.has_login">
      <div class="menu-item">登录浑天匣</div>

    </div>
  </div>
</nav>
