<app-info></app-info>

<app-res-nav [resource]="resource" [is_mine]="is_mine" (onGoParent)="go_parent()"></app-res-nav>

<div class="res" [ngClass]="tab_mode">
  <div class="tab" [ngClass]="search_class">
    <div class="resource" (click)="switch_tab_mode('resource')">
      <span class="text">{{resource_title}}</span>
      <div class="search-container">
        <span class="icon icon-search" *ngIf="show_search_icon" (click)="search_mode ? resource_search() : go_search(true)"></span>
        <span class="icon icon-collapse" *ngIf="search_mode" (click)="go_search(false)">️</span>
        <div class="search-box">
          <input #searchBox class="search" placeholder="搜索…" (keyup)="search_terms.next(searchBox.value)" [(ngModel)]="search_value">
          <!--<span class="icon icon-collapse" (click)="go_search(false)">️</span>-->
          <span class="clear-keyword" (click)="clear_search()">×</span>
        </div>
      </div>
    </div>
    <div class="description" (click)="switch_tab_mode('description')"><span class="text">介绍</span></div>
    <div class="description" [ngClass]="is_modifying_desc ? 'active' : 'inactive'">
      <div class="modify-btn cancel"><span class="text" (click)="cancel_modify_desc()">取消</span></div>
      <div class="modify-btn modify"><span class="text" (click)="modify_desc_action()">修改</span></div>
    </div>
  </div>
  <div class="tab selecting" [ngClass]="footBtnService.active_select">
    <div class="tab-btn select-all" (click)="select_res_help('all')">全选</div>
    <div class="tab-btn select-adverse" (click)="select_res_help('adverse')">反选</div>
    <div class="tab-btn cancel" (click)="select_res_help('cancel')">取消</div>
    <div class="tab-btn delete" (click)="select_res_help('delete')">删除</div>
  </div>
  <div class="content resource" *ngIf="resource?.is_folder">
    <div class="res-item"
         *ngFor="let child of search_list"
         (click)="footBtnService.is_selecting ? select_res(child) : navigate(child.res_str_id)">
      <div class="res-image img-fit" [ngStyle]="{'background-image': child.url_cover}"></div>
      <div class="res-name">{{child.rname}}</div>
      <div class="res-info">上传于{{child.readable_time}}<span *ngIf="child.rtype == 0">，{{child.dlcount}}次下载</span></div>
      <div class="res-type"><span [ngClass]="footBtnService.is_selecting ? child.icon_select : child.icon"></span></div>
      <hr/>
    </div>
  </div>
  <div class="content resource" *ngIf="resource?.is_file">
    <span class="icon" [ngClass]=resource?.icon></span>
    <div class="file-name">{{resource?.rname}}</div>
    <div class="file-size">{{resource?.size}}</div>
    <a [href]="dl_link" target="_blank"><div class="round-btn">下载</div></a>
  </div>
  <div class="content resource" *ngIf="resource?.is_encrypt"></div>
  <div class="content description">
    <div class="padding-div">
      <markdown [data]="description" *ngIf="description && !is_modifying_desc"></markdown>
      <textarea [(ngModel)]="description" *ngIf="is_modifying_desc" placeholder="在此处填写资源介绍资料…"></textarea>
      <!--<div class="add-desc">-->
        <div class="round-btn" *ngIf="!description && !is_modifying_desc" (click)="go_modify_desc()">填写介绍资料</div>
      <!--</div>-->
    </div>
  </div>
</div>

<app-res-op [resource]="resource" [path]="path" [tab_mode]="tab_mode" (onUploaded)="onUploaded($event)" (onDeleted)="onDeleted()"></app-res-op>

<footer *ngIf="userService.has_login">
  <div *ngFor="let foot_btn of foot_btns"
       class="btn"
       [ngClass]="footBtnService.is_active(foot_btn)"
       (click)="activate_btn(foot_btn)">
    <span class="icon" [ngClass]="foot_btn.icon"></span>
    <span class="text">{{foot_btn.text}}</span>
  </div>
</footer>

<footer *ngIf="!userService.has_login" class="ptr" (click)="go_login()">
  <div class="join-us">炭诗酒，岁寒三友<span class="icon icon-box"></span></div>
</footer>
