* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}
body {
  background: #eaeaea;
}
path {
  fill: #007FEB;
}
.ptr,
.round-btn {
  cursor: pointer;
}
.light-shadow {
  box-shadow: 1px 3px 10px 0 #c0c0c0;
}
.strong-shadow {
  box-shadow: 1px 3px 10px 0 gray;
}
.img-fit {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: inherit;
}
.animate {
  transition: 0.5s;
}
@media all and (orientation: portrait) {
  nav {
    width: 100%;
    height: 38.2vh;
  }
  div.res {
    width: 100%;
    height: calc(100% - 38.2vh - 56px);
    left: 0;
    top: 38.2vh;
  }
}
@media all and (orientation: landscape) {
  nav {
    width: 38.2vw;
    height: calc(100% - 56px);
  }
  div.res {
    width: calc(100% - 38.2vw);
    height: calc(100% - 56px);
    left: 38.2vw;
    top: 0;
  }
}
footer {
  width: 100%;
  height: 56px;
}
.round-btn {
  width: 70px;
  height: 30px;
  border-radius: 15px;
  background: #2699FB;
  color: white;
  line-height: 30px;
  font-size: 14px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
}
.round-btn.disabled {
  background: #CCCCCC;
}
.round-btn.sub {
  background: #CCCCCC;
}
.round-btn.warn {
  background: #D04B4B;
}
.round-btn.long {
  width: 100px;
}
